@model sistemaTickets.Models.usuario
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - TicketMaster</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">TicketMaster</div>
            <ul class="nav-links" id="nav-links">
                <li><a href="@Url.Action("Inicio", "sistema_Tickets")">Inicio</a></li>
                <!-- Las opciones de menú se añadirán dinámicamente mediante JavaScript -->
            </ul>
            <div class="user-info">
                <img src="@Model.imagen" alt="Foto del Usuario" class="user-photo">
                <span class="user-name">@Model.nombre @Model.apellido</span>
                <button class="logout-btn" onclick="location.href='@Url.Action("Index", "sistema_Tickets")'">Cerrar Sesión</button>
            </div>
        </nav>
    </header>
    <main>
        <section class="main-options">
            <div class="option create-ticket">
                <h2>Crear Ticket</h2>
                <p>Soluciona problemas creando un nuevo ticket.</p>
                <button onclick="location.href='@Url.Action("EnviarTicket", "sistema_Tickets", new { userId = Model.id_usuario })'">Crear Ticket</button>
            </div>
            <div class="option manage-tickets">
                <h2>Gestionar Tickets</h2>
                <p>Revisa y administra los tickets existentes.</p>
                <button onclick="location.href='@Url.Action("historialTickets", "sistema_Tickets", new { userId = Model.id_usuario })'">Gestionar Tickets</button>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 TicketMaster. Todos los derechos reservados.</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var rolID = @Model.rolID;
            var navLinks = document.getElementById('nav-links');

            if (rolID === 2) {
                var gestionUsuarios = document.createElement('li');
                var dashboard = document.createElement('li');

                gestionUsuarios.innerHTML = '<a href="@Url.Action("gestionarUsuarios", "sistema_Tickets", new { userId = Model.id_usuario })">Gestionar Usuarios</a>';
                dashboard.innerHTML = '<a href="@Url.Action("Dashboard", "sistema_Tickets", new { userId = Model.id_usuario })">Dashboard</a>';

                navLinks.appendChild(gestionUsuarios);
                navLinks.appendChild(dashboard);
            }
        });
    </script>
</body>
</html>
